$user-card-width: 320px;

.user-card {
    width: $user-card-width;
    margin-top: 12px;
    background-color: map.get($brand-color, dark);
    color: map.get($brand-color, contrast-text);
    
    &__location {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        border-radius: 8px;
        background-color: rgb(121 119 119 / 50%);
        gap: 8px;
    }

    &__name {
        max-width: calc($user-card-width / 2);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-y: clip;
    }
}