.filters {
    display: flex;
    justify-content: flex-end;

    &-wrapper {
        display: flex;
        align-items: center;
        padding: 6px 8px;
        border-radius: 18px;
        gap: 16px;
    }

    &__nationality, &__gender {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__nationality-select {
        height: 32px;
    }

    &__clear-button {
        text-transform: capitalize;
    }
}