.filters-bar {
    display: flex;
    justify-content: flex-end;

    &-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 6px 8px;
        background-color: #eaeaea;
        border-radius: 18px;
        border: 1px solid lightgrey;
    }

    &__nationality, &__gender {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}