// this is the pallete of the MUI dark theme
$brand-color: (
  primary: #90caf9,
  primary-dark: #42a5f5,
  secondary: #ce93d8,
  error: #f44336,
  warning: #ffa726,
  info: #29b6f6,
  success: #66bb6a,
  white: #fff,
  grey-light: #fafafa,
  grey-medium: #9e9e9e,
  grey-dark: #212121,
);
